/Library/
/Temp/
/Obj/
/Builds/
/Exports/
*.pidb
*.suo
*.user
*.userprefs
*.sln.DotSettings
*.csproj.user
*.Unity.csproj.user
.idea/
*.csproj.DotSettings
*.Unity.csproj.DotSettings
.vscode/
.omnisharp/
/node_modules/
.DS_Store
Thumbs.db
desktop.ini
*.pdb
*.unityproj.user
*.booproj
*.exe
*.dll
*.so
*.dylib
*.apk
*.xapk
*.ipa
*.aab
*.app
*.bin
*.log
/Assets/AssetStoreTools/
/Assets/Packages/
/Assets/StreamingAssets/
.tmproj
*.sublime-project
*.sublime-workspace
/Docs/Generated/
/TestResults/
crash.dmp
*.unitypackage
/pref/
credits_temp.txt
